<div id="container" style="height: 1000px;width: 100%;">
    <div id="menu" style="background-color: #ffd700;height: 100%;width: 10%;float: left;">
        <div id="menu-header" style="background-color: #ffa500">
            <app-user-picture></app-user-picture>
        </div>
        <div id="menu-face" style="background-color: #ffa666;height: 5%">
            <app-user-connect></app-user-connect>
        </div>
        ----------------------
        <div id="menu-body" style="background-color: #ffa666;height: 5%;width: 10%;">
            <app-tag-collection></app-tag-collection>
        </div>
        <div id="menu-footer" style="background-color: #ffa666">
            <h1 style="margin-bottom: 100%">메뉴?</h1>
        </div>
    </div>
    <div id="content" style="background-color: #EEEEEE;height:100%;width: 90%;float: left;">
        <div id="content-header" style="background-color: #33b950;height: 5%; margin-top: 0">
            <app-kensaku style="margin-top: 0; width: 100%; height: 100%"></app-kensaku>
        </div>
        <div id="content-face" style="background-color: #66b2fa;height: 15%;">
            <app-notice style="margin-top: 0"></app-notice>
        </div>
        <div id="content-body" style="background-color: #648f64;height: 80%;">
            <h1 style="margin-top: 0">메세지</h1>
        </div>
    </div>
</div>